.page-profil {
  width: 80%;
  margin: 50px auto;
  @media (max-width: 1200px) {
    margin: 0 auto;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;
  @media (max-width: 1200px) {
    margin-top: 40px;
  }
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.content-left-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.graph-content {
  width: 250px;
  height: 250px;
  @media (max-width: 1400px) {
    width: 200px;
    height: 200px;
  }
  @media (max-width: 1130px) {
    width: 180px;
    height: 180px;
  }
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
