.chartContainer {
  width: auto;
  height: 350px;
  border-radius: 5px;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  padding: 23px 29px 23px 32px;
}

.custom-tooltip {
  background-color: #e60000;
  padding: 0.5rem;
  color: white;
  font-size: 0.8rem;
  margin-left: 4rem;
}
